
/*

Default Atlanta stylesheet

*/


/* Tags */

BODY
{
	background: ThreeDFace;
	font-family: Microsoft Sans Serif;
	font-size: 8pt;
}



/* ListView control */

.listViewInnerDiv
{
    background: Window;
    border: 1px solid Highlight;
}

.listViewColumnTable
{
    width: 100%;
}

.listViewHeaderRow
{
    background: ThreeDFace;
    border-top: 1px solid black;
}

.listViewHeaderText
{
    border-top: 1px solid ThreeDLightShadow;
    border-left: 1px solid ThreeDLightShadow;
    border-right: 1px solid ThreeDShadow;
    border-bottom: 1px solid ThreeDShadow;
}

