<configuration>

    <configSections>
        <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    </configSections>

    <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
        <session-factory>
            <property name="connection.provider"            >NHibernate.Connection.DriverConnectionProvider</property>
            <property name="dialect"                        >NHibernate.Dialect.FirebirdDialect</property>
            <property name="connection.driver_class"        >NHibernate.Driver.FirebirdClientDriver</property>
            <property name="connection.connection_string"   >User=SYSDBA;Password=masterkey;Database=../LendingLibrary.fdb;ServerType=1;</property>
            <property name="show_sql"                       >false</property>
        </session-factory>
    </hibernate-configuration>

</configuration>

