<?xml version="1.0"?>
<configuration>

    <configSections>
        <section name="nhibernate" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>

        <sectionGroup name="spring">
            <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
            <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
        </sectionGroup>
    </configSections>

    <nhibernate>
        <add key="hibernate.connection.provider"            value="NHibernate.Connection.DriverConnectionProvider"/>
        <add key="hibernate.dialect"                        value="NHibernate.Dialect.FirebirdDialect"/>
        <add key="hibernate.connection.driver_class"        value="NHibernate.Driver.FirebirdClientDriver"/>
        <add key="hibernate.connection.connection_string"   value="User=SYSDBA;Password=masterkey;Database=?;ServerType=1;"/>
        <add key="hibernate.show_sql"                       value="false"/>
    </nhibernate>

    <system.serviceModel>
    
        <services>
            <service name="MediaService" behaviorConfiguration="AtlantaDebugServiceBehavior">
                <endpoint address="" binding="basicHttpBinding" contract="Atlanta.Application.Services.Interfaces.IMediaService"/>
            </service>
        </services>

        <behaviors>
            <serviceBehaviors>
                <behavior name="AtlantaDebugServiceBehavior">
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>

    </system.serviceModel>

    <spring>

        <context>
            <resource uri="config://spring/objects" />
        </context>

        <objects xmlns="http://www.springframework.net">

            <object id="aroundAdvice" type="Atlanta.Application.Services.ServiceBase.AopAroundAdvice" />

            <object id="MediaService" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
                <property name="Target">
                    <object type="Atlanta.Application.Services.Lending.MediaService, Atlanta.Application.Services" />
                </property>
                <property name="InterceptorNames">
                    <list>
                        <value>aroundAdvice</value>
                    </list>
                </property>
            </object>

        </objects>

    </spring>

</configuration>

