<configuration>

    <system.serviceModel>
        <client>
            <endpoint   name="MediaService"
                        address="http://localhost/atlanta/web/services/MediaService.svc"
                        binding="basicHttpBinding"
                        contract="Atlanta.Application.Services.Interfaces.IMediaService"/>
        </client>
    </system.serviceModel>

</configuration>

